///* ========================================================================
//   #CORE
//   ======================================================================== */


// Base typographical styles and baseline grid. You need to define these values
// in pixels: inuitcss will convert them to more appropriate units.

$inuit-global-font-size:    20px;
$inuit-global-line-height:  32px;



// How many times larger/smaller than the default should our spacing unit
// variants be?

$inuit-global-spacing-unit-factor-large:  4;
$inuit-global-spacing-unit-factor-huge:   8;
